.formcat{
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.27);
    margin: 10px 0 0 387px;
    width: 381px;
}
form{
    margin: 20px 20px;
}
.cart{
    margin: 20px 0;
    border: 1px solid black;
}