.formcat .formdm{
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.27);
    margin: 10px 0 0 387px;
    width: 381px;
}
input#email {
    width: 300px;
}
.formuser {
    border: 1px solid black;
    width: 500px;
    border-radius: 5px;
    margin: 50px 0 0 372px;
}
form{
    margin: 20px 20px;
}
.cart{
    margin: 20px 0;
    border: 1px solid black;
}
.formpro{
    margin: 10px 0 0 387px;
}
