*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
.menuLeft{
    width: 300px;
    background-color: black;
    height: 700px;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style-type: none;
    padding:10px 0 10px 50px;
}
li:hover{
    background-color: rgba(255, 255, 255, 0.24);
    color: black;
}
.category{
    float: left;
    width: 100%;
}