*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Light";
}

img,
picture,
video {
    display: block;
    max-width: 100%;
}
body {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    background-color:#f4f4f4 ;
    justify-content: center;
    align-items: center;
   
}
.user .btn-user {
    float: right;
    display: block;
    border: none;
}
.logo .logo-name {
    font-size: 20px;
    font-weight: 200;
}
.logo-name {
    font-size: 35px;
    font-weight: 200;
    color: #e5eceb;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}
.logo img{
    margin-left: 30px;
}
.logo a {
    text-decoration: none;
}
.user .user-link{
    float: right;
    text-decoration: none;
    display: block;
    font-size: 18px;
    
}



/*:root {*/
/*    --color-primary: #f77f00;*/
/*    --color-text: #ffffff;*/
/*}*/

.wrapper-header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
/*.logo{*/
/*    padding-top: 5px;*/
/*}*/
.header .action {
    display: flex;
    align-items: center;
}
.action .action-icon {
    margin: 0 10px;
    position: relative;
    cursor: pointer;
}
.logo .logo-name {
    font-size: 20px;
    font-weight: 500;
}
.header{
    background-color: black;
}
.navigate .navigate-link {
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    padding: 5px 5px;
}
.navigate a{
    color: #fff;
    font-weight: bold;
}


.navigate .navigate-link:hover {
   color: rgb(255, 200, 0);
}
.d-flex {
    display: flex !important;
}

.d-inline-flex {
    display: inline-flex !important;
}
.d-flex button{
    margin-left: 10px;
}
.icon-cart {
    color: #fff;
    display: flex;
    align-items: flex-end;
}
.name-product-main a{
    text-decoration: none;
}

.sale-flash {
    display: flex;
    margin-top: 50px;
    align-items: center;
}
.wrapper-flash {
    margin: 0 20px;
}
h1{
    margin-left: 80px;
    margin-bottom: 30px;
}
.wrapper-btn {
    display: none;
}
.wrapper-btn-active.wrapper-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.89);
    padding: 10px 0;
}


.wrapper-btn .btn-action {
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    font-size: 17px;
    margin: 0 10px;
    cursor: pointer;
}

.overlay {
    display: none;
}
.overlay-active.overlay {
    display: block;
    position: fixed;
    inset: 0;
    z-index: 2;
}
.overlay .module-overlay {
    background-color: rgba(0, 0, 0, 0.334);
    position: absolute;
    inset: 0;
    z-index: 3;
}
h2{
   justify-content: space-between;
    font-weight: bold;
}


.wrapper-product {
    margin-top: 80px;
    width: 90%;
    border: 1px ;
   
}


.heading-product {
    margin-left: 70px;
    background-color: #0083bf;
    width: 90%;
    color: #000;
    height: 50px;
    font-size: 20px;
    padding: 17px;
    
}
.heading-product p{
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
}


.product {
    background-color: #ffffff;
    margin-left: 70px;
    width: 90%;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4,1fr);

}


.item-product-main {
    text-align: center;
    margin: 30px 20px;
    width: 90%;
   
    
}


.item-product img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.item-product img:hover{
    transform: scale(1.2);
}

.name-product-main {
    color: #000;
    text-align: center;
    padding-top: 20px;
}
.wrapper-product{
    text-align: center;
    width: 100%;
    
}
.wrapper-product>option{
 width: 100%;
}

footer{
    height: 30px;
    
    background: lemonchiffon;
    color:#272f54;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 30px;
    
}
.hai footer{
    height: 30px;
    background: white;
    color:#272f54;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 30px;
    
}
.ba footer{
    height: 60px;
    background:#4ebdec;
    color:white;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
    
}
.heading-product{
    color: #272f54;
}


input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}

.input-row input:focus{
    border: 1px solid #00bf1d;
    outline: none;
}
.input-row{
    margin-bottom: 15px;
    position: relative;
}
small{
    margin-top: 30px;
    color: red;
    position: absolute;
    bottom: -25px;
    left: 0;
    visibility: hidden;
}

.btn{
    padding: 7px;
    border-radius: 2px;
    margin-top: 10px;
    border: 1px solid #0e546e;
    background-color: #0083bf;
    color: #fff;
    cursor: pointer;
}

.input-row.success input{
    border-color: #2ecc71;
}

.input-row.error input{
    margin-bottom: 20px;
    background-color: #4ebdec;
    border-color: red;
}

.input-row.error{
    margin-bottom: 30px;
}

.input-row.error small{
    margin-top: 40px;
    visibility: visible;
    padding: 40px 0 0 0;
}

.name-product-main {
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    width: 200px;
}
.name-product-main>p{
    margin-top: 15px;
    color: red;
}
.footer-container {
    background-color: black;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.footer-section {
    margin-top: 20px;
    background-color: black;
    width: 30%;
    padding: 50px 0;
}

.ff{
    color: white!important;
}
.footer-section h3 {
    color: black;
    font-size: 1.2em;
    margin-bottom: 20px;
}
.footer-section p {
    margin: 8px 0;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}
.footer-section li {
    margin: 8px 0;
}

.footer-section a {
    text-decoration: none;
    color: black;
}
.footer-section a:hover{
    color: #0083bf;
}
.footer-section img{
    height: 100px;
    margin-left: 140px;
}

.copyright {
    margin-top: 50px;
    height: 55px;
    background-color: #ccc;
}
.copyright p{
   text-align: center;
   padding: 15px;
}
  h4{
    background-color: #0083bf;
    height: 10px;
    margin-top: 20px;
  }


  .row{
    margin-top: 20px;
  }
  .anhsp img{
    height: 400px;
    text-align: left;
    margin-left: 70px;
  }
  .namesp{
    margin-left: 70px;
    margin-top: 20px;
  }


  input[type="number"] {
    width: 40px;
      border: none;
}

input[type="submit"]{
    width: 80px;
    position: absolute;
    margin-left: 70px;
    bottom: 10px;
    background-color: #FF6600;
    border-radius: 5px;
    border: 1px #FC0 solid;
    padding: 5px 0px;
    color: #EEE;
}
.thongtin {
    margin-top: 100px;
    margin-left: 70px;
}


.row {
    margin-top: 40px;
  
}

.mb {
    margin-bottom: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mr {
    margin-right: 2%;
}



.nhanhang{
    text-align: center;
    font-weight: bold;
    
}

a {
    text-decoration: none;
}

.giohang {
    position: fixed;
    border-radius: 10px;
    right: 20px;
    top: 20px;
    height: 60px;
    background-image: linear-gradient(#F90, #F60);
    padding: 10px;
}

.giohang img {
    width: 40px;
    float: left;
    margin-right: 5px;
}

.giohang span {
    font-weight: bold;
    font-size: 2vw;
    color: yellow;
    height: 40px;
    line-height: 40px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #999;
    padding: 10px;
}

th,
td {
    border: 1px #CCC solid;
    text-align: center;
}

td div {
    width: calc(100% - 20px);
    padding: 0px 10px;
    text-align: right;
}

th div {
    width: calc(100% - 10px);
    padding: 0px 5px;
    text-align: right;
    font-size: 1.5rem;
}

td img {
    width: 100px;
   
}


/* thong tin nhận hàng */

.thongtinnhanhang tr td {
    text-align: left;
    padding: 10px;
}

.thongtinnhanhang input {
    width: 100%;
    border: 1px #CCC solid;
    padding: 5px;
    border-radius: 5px;
}

.dongy {
    width: 150px;
    border: 1px #F90 solid;
    background-image: linear-gradient(#F90, #F60);
    padding: 10px;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 50px;
}

.dongy:hover {
    background-image: linear-gradient(#F30, #000);
}

